<?xml version="1.0" encoding="utf-8"?>
<SettingsData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationName>Snap2IMG</ApplicationName>
  <ApplicationVersion>1.0.1.0</ApplicationVersion>
  <SettingsVersion>2</SettingsVersion>
  <CurrentSettings>
    <Name>Current</Name>
    <ThumbnailSizeX>256</ThumbnailSizeX>
    <ThumbnailSizeY>256</ThumbnailSizeY>
    <SplitIntoMultipleSheets>true</SplitIntoMultipleSheets>
    <SplitAfterNumberOfRows>14</SplitAfterNumberOfRows>
    <Spacing>
      <X>1</X>
      <Y>1</Y>
    </Spacing>
    <MarginSize>
      <Left>16</Left>
      <Top>48</Top>
      <Right>16</Right>
      <Bottom>20</Bottom>
    </MarginSize>
    <ThumbnailsPerRow>10</ThumbnailsPerRow>
    <AlwaysFullWidth>false</AlwaysFullWidth>
    <AdaptiveHeight>true</AdaptiveHeight>
    <DrawFrame>false</DrawFrame>
    <FrameColor>
      <A>255</A>
      <R>192</R>
      <G>192</G>
      <B>192</B>
    </FrameColor>
    <FrameThickness>1</FrameThickness>
    <FrameFullSize>false</FrameFullSize>
    <FrameDashStyle>Solid</FrameDashStyle>
    <ScaleMode>HighQualityBicubic</ScaleMode>
    <TextAntialiasingMode>2</TextAntialiasingMode>
    <IgnoreAspectRatio>false</IgnoreAspectRatio>
    <IgnoreAspectRatioCrop>true</IgnoreAspectRatioCrop>
    <BackgroundColor>
      <A>255</A>
      <R>255</R>
      <G>255</G>
      <B>255</B>
    </BackgroundColor>
    <BackgroundTexture />
    <BackgroundTextureMode>None</BackgroundTextureMode>
    <ShowHeader>false</ShowHeader>
    <HeaderFont>
      <FontFamily>Tahoma</FontFamily>
      <GraphicsUnit>Point</GraphicsUnit>
      <Size>14</Size>
      <Style>Regular</Style>
    </HeaderFont>
    <HeaderColor>
      <A>255</A>
      <R>0</R>
      <G>0</G>
      <B>0</B>
    </HeaderColor>
    <HeaderText>&lt;Path&gt;</HeaderText>
    <ShowFilenames>false</ShowFilenames>
    <FilenameFont>
      <FontFamily>Tahoma</FontFamily>
      <GraphicsUnit>Point</GraphicsUnit>
      <Size>9</Size>
      <Style>Regular</Style>
    </FilenameFont>
    <FilenameColor>
      <A>255</A>
      <R>0</R>
      <G>0</G>
      <B>0</B>
    </FilenameColor>
    <FilenameText>&lt;Filename.Ext&gt;</FilenameText>
    <FilenameExtendUpwards>false</FilenameExtendUpwards>
    <FilenameIgnoreAspectRatio>true</FilenameIgnoreAspectRatio>
    <FilenameBGColor>
      <A>255</A>
      <R>211</R>
      <G>211</G>
      <B>211</B>
    </FilenameBGColor>
    <FilenameSolidBackground>false</FilenameSolidBackground>
    <FilenameTruncate>false</FilenameTruncate>
    <ShowFooter>false</ShowFooter>
    <FooterFont>
      <FontFamily>Tahoma</FontFamily>
      <GraphicsUnit>Point</GraphicsUnit>
      <Size>8</Size>
      <Style>Italic</Style>
    </FooterFont>
    <FooterColor>
      <A>255</A>
      <R>128</R>
      <G>128</G>
      <B>128</B>
    </FooterColor>
    <FooterTextLeft>&lt;NumFiles&gt; images (&lt;TotSize&gt;)</FooterTextLeft>
    <FooterTextRight>Generated by Snap2IMG  &lt;Date&gt; &lt;Time&gt;</FooterTextRight>
    <EffectShadow>true</EffectShadow>
    <EffectShadowStyle>2</EffectShadowStyle>
    <EffectGrayscale>false</EffectGrayscale>
  </CurrentSettings>
  <Presets>
    <RenderSettingsData>
      <Name>Basic</Name>
      <ThumbnailSizeX>128</ThumbnailSizeX>
      <ThumbnailSizeY>128</ThumbnailSizeY>
      <SplitIntoMultipleSheets>false</SplitIntoMultipleSheets>
      <SplitAfterNumberOfRows>4</SplitAfterNumberOfRows>
      <Spacing>
        <X>12</X>
        <Y>28</Y>
      </Spacing>
      <MarginSize>
        <Left>16</Left>
        <Top>48</Top>
        <Right>16</Right>
        <Bottom>20</Bottom>
      </MarginSize>
      <ThumbnailsPerRow>5</ThumbnailsPerRow>
      <AlwaysFullWidth>false</AlwaysFullWidth>
      <AdaptiveHeight>true</AdaptiveHeight>
      <DrawFrame>false</DrawFrame>
      <FrameColor>
        <A>255</A>
        <R>192</R>
        <G>192</G>
        <B>192</B>
      </FrameColor>
      <FrameThickness>1</FrameThickness>
      <FrameFullSize>false</FrameFullSize>
      <FrameDashStyle>Solid</FrameDashStyle>
      <ScaleMode>HighQualityBicubic</ScaleMode>
      <TextAntialiasingMode>2</TextAntialiasingMode>
      <IgnoreAspectRatio>false</IgnoreAspectRatio>
      <IgnoreAspectRatioCrop>true</IgnoreAspectRatioCrop>
      <BackgroundColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>255</B>
      </BackgroundColor>
      <BackgroundTexture />
      <BackgroundTextureMode>None</BackgroundTextureMode>
      <ShowHeader>true</ShowHeader>
      <HeaderFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>14</Size>
        <Style>Regular</Style>
      </HeaderFont>
      <HeaderColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </HeaderColor>
      <HeaderText>&lt;Path&gt;</HeaderText>
      <ShowFilenames>true</ShowFilenames>
      <FilenameFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>9</Size>
        <Style>Regular</Style>
      </FilenameFont>
      <FilenameColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </FilenameColor>
      <FilenameText>&lt;Filename.Ext&gt;</FilenameText>
      <FilenameExtendUpwards>false</FilenameExtendUpwards>
      <FilenameIgnoreAspectRatio>true</FilenameIgnoreAspectRatio>
      <FilenameBGColor>
        <A>255</A>
        <R>211</R>
        <G>211</G>
        <B>211</B>
      </FilenameBGColor>
      <FilenameSolidBackground>false</FilenameSolidBackground>
      <FilenameTruncate>false</FilenameTruncate>
      <ShowFooter>true</ShowFooter>
      <FooterFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>8</Size>
        <Style>Italic</Style>
      </FooterFont>
      <FooterColor>
        <A>255</A>
        <R>128</R>
        <G>128</G>
        <B>128</B>
      </FooterColor>
      <FooterTextLeft>&lt;NumFiles&gt; images (&lt;TotSize&gt;)</FooterTextLeft>
      <FooterTextRight>Generated by Snap2IMG  &lt;Date&gt; &lt;Time&gt;</FooterTextRight>
      <EffectShadow>true</EffectShadow>
      <EffectShadowStyle>2</EffectShadowStyle>
      <EffectGrayscale>false</EffectGrayscale>
    </RenderSettingsData>
    <RenderSettingsData>
      <Name>Basic w/o Text</Name>
      <ThumbnailSizeX>128</ThumbnailSizeX>
      <ThumbnailSizeY>128</ThumbnailSizeY>
      <SplitIntoMultipleSheets>false</SplitIntoMultipleSheets>
      <SplitAfterNumberOfRows>4</SplitAfterNumberOfRows>
      <Spacing>
        <X>12</X>
        <Y>12</Y>
      </Spacing>
      <MarginSize>
        <Left>12</Left>
        <Top>12</Top>
        <Right>12</Right>
        <Bottom>12</Bottom>
      </MarginSize>
      <ThumbnailsPerRow>5</ThumbnailsPerRow>
      <AlwaysFullWidth>false</AlwaysFullWidth>
      <AdaptiveHeight>true</AdaptiveHeight>
      <DrawFrame>false</DrawFrame>
      <FrameColor>
        <A>255</A>
        <R>192</R>
        <G>192</G>
        <B>192</B>
      </FrameColor>
      <FrameThickness>1</FrameThickness>
      <FrameFullSize>false</FrameFullSize>
      <FrameDashStyle>Solid</FrameDashStyle>
      <ScaleMode>HighQualityBicubic</ScaleMode>
      <TextAntialiasingMode>2</TextAntialiasingMode>
      <IgnoreAspectRatio>false</IgnoreAspectRatio>
      <IgnoreAspectRatioCrop>true</IgnoreAspectRatioCrop>
      <BackgroundColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>255</B>
      </BackgroundColor>
      <BackgroundTexture />
      <BackgroundTextureMode>None</BackgroundTextureMode>
      <ShowHeader>false</ShowHeader>
      <HeaderFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>14</Size>
        <Style>Regular</Style>
      </HeaderFont>
      <HeaderColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </HeaderColor>
      <HeaderText>&lt;Path&gt;</HeaderText>
      <ShowFilenames>false</ShowFilenames>
      <FilenameFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>9</Size>
        <Style>Regular</Style>
      </FilenameFont>
      <FilenameColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </FilenameColor>
      <FilenameText>&lt;Filename.Ext&gt;</FilenameText>
      <FilenameExtendUpwards>false</FilenameExtendUpwards>
      <FilenameIgnoreAspectRatio>true</FilenameIgnoreAspectRatio>
      <FilenameBGColor>
        <A>255</A>
        <R>211</R>
        <G>211</G>
        <B>211</B>
      </FilenameBGColor>
      <FilenameSolidBackground>false</FilenameSolidBackground>
      <FilenameTruncate>false</FilenameTruncate>
      <ShowFooter>false</ShowFooter>
      <FooterFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>8</Size>
        <Style>Italic</Style>
      </FooterFont>
      <FooterColor>
        <A>255</A>
        <R>128</R>
        <G>128</G>
        <B>128</B>
      </FooterColor>
      <FooterTextLeft>&lt;NumFiles&gt; images (&lt;TotSize&gt;)</FooterTextLeft>
      <FooterTextRight>Generated by Snap2IMG  &lt;Date&gt; &lt;Time&gt;</FooterTextRight>
      <EffectShadow>true</EffectShadow>
      <EffectShadowStyle>2</EffectShadowStyle>
      <EffectGrayscale>false</EffectGrayscale>
    </RenderSettingsData>
    <RenderSettingsData>
      <Name>Black Gold</Name>
      <ThumbnailSizeX>128</ThumbnailSizeX>
      <ThumbnailSizeY>128</ThumbnailSizeY>
      <SplitIntoMultipleSheets>false</SplitIntoMultipleSheets>
      <SplitAfterNumberOfRows>4</SplitAfterNumberOfRows>
      <Spacing>
        <X>12</X>
        <Y>28</Y>
      </Spacing>
      <MarginSize>
        <Left>16</Left>
        <Top>48</Top>
        <Right>16</Right>
        <Bottom>20</Bottom>
      </MarginSize>
      <ThumbnailsPerRow>5</ThumbnailsPerRow>
      <AlwaysFullWidth>false</AlwaysFullWidth>
      <AdaptiveHeight>true</AdaptiveHeight>
      <DrawFrame>true</DrawFrame>
      <FrameColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>0</B>
      </FrameColor>
      <FrameThickness>1</FrameThickness>
      <FrameFullSize>false</FrameFullSize>
      <FrameDashStyle>Solid</FrameDashStyle>
      <ScaleMode>HighQualityBicubic</ScaleMode>
      <TextAntialiasingMode>2</TextAntialiasingMode>
      <IgnoreAspectRatio>false</IgnoreAspectRatio>
      <IgnoreAspectRatioCrop>true</IgnoreAspectRatioCrop>
      <BackgroundColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </BackgroundColor>
      <BackgroundTexture />
      <BackgroundTextureMode>None</BackgroundTextureMode>
      <ShowHeader>true</ShowHeader>
      <HeaderFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>14</Size>
        <Style>Regular</Style>
      </HeaderFont>
      <HeaderColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>0</B>
      </HeaderColor>
      <HeaderText>&lt;Path&gt;</HeaderText>
      <ShowFilenames>true</ShowFilenames>
      <FilenameFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>9</Size>
        <Style>Regular</Style>
      </FilenameFont>
      <FilenameColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>0</B>
      </FilenameColor>
      <FilenameText>&lt;Filename.Ext&gt;</FilenameText>
      <FilenameExtendUpwards>false</FilenameExtendUpwards>
      <FilenameIgnoreAspectRatio>true</FilenameIgnoreAspectRatio>
      <FilenameBGColor>
        <A>255</A>
        <R>211</R>
        <G>211</G>
        <B>211</B>
      </FilenameBGColor>
      <FilenameSolidBackground>false</FilenameSolidBackground>
      <FilenameTruncate>false</FilenameTruncate>
      <ShowFooter>true</ShowFooter>
      <FooterFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>8</Size>
        <Style>Italic</Style>
      </FooterFont>
      <FooterColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>0</B>
      </FooterColor>
      <FooterTextLeft>&lt;NumFiles&gt; images (&lt;TotSize&gt;)</FooterTextLeft>
      <FooterTextRight>Generated by Snap2IMG  &lt;Date&gt; &lt;Time&gt;</FooterTextRight>
      <EffectShadow>false</EffectShadow>
      <EffectShadowStyle>2</EffectShadowStyle>
      <EffectGrayscale>false</EffectGrayscale>
    </RenderSettingsData>
    <RenderSettingsData>
      <Name>Mosaic Wall</Name>
      <ThumbnailSizeX>128</ThumbnailSizeX>
      <ThumbnailSizeY>128</ThumbnailSizeY>
      <SplitIntoMultipleSheets>false</SplitIntoMultipleSheets>
      <SplitAfterNumberOfRows>4</SplitAfterNumberOfRows>
      <Spacing>
        <X>0</X>
        <Y>0</Y>
      </Spacing>
      <MarginSize>
        <Left>0</Left>
        <Top>0</Top>
        <Right>0</Right>
        <Bottom>0</Bottom>
      </MarginSize>
      <ThumbnailsPerRow>5</ThumbnailsPerRow>
      <AlwaysFullWidth>false</AlwaysFullWidth>
      <AdaptiveHeight>false</AdaptiveHeight>
      <DrawFrame>false</DrawFrame>
      <FrameColor>
        <A>255</A>
        <R>192</R>
        <G>192</G>
        <B>192</B>
      </FrameColor>
      <FrameThickness>1</FrameThickness>
      <FrameFullSize>false</FrameFullSize>
      <FrameDashStyle>Solid</FrameDashStyle>
      <ScaleMode>HighQualityBicubic</ScaleMode>
      <TextAntialiasingMode>2</TextAntialiasingMode>
      <IgnoreAspectRatio>true</IgnoreAspectRatio>
      <IgnoreAspectRatioCrop>true</IgnoreAspectRatioCrop>
      <BackgroundColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>255</B>
      </BackgroundColor>
      <BackgroundTexture />
      <BackgroundTextureMode>None</BackgroundTextureMode>
      <ShowHeader>false</ShowHeader>
      <HeaderFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>14</Size>
        <Style>Regular</Style>
      </HeaderFont>
      <HeaderColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </HeaderColor>
      <HeaderText>&lt;Path&gt;</HeaderText>
      <ShowFilenames>false</ShowFilenames>
      <FilenameFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>9</Size>
        <Style>Regular</Style>
      </FilenameFont>
      <FilenameColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </FilenameColor>
      <FilenameText>&lt;Filename.Ext&gt;</FilenameText>
      <FilenameExtendUpwards>false</FilenameExtendUpwards>
      <FilenameIgnoreAspectRatio>true</FilenameIgnoreAspectRatio>
      <FilenameBGColor>
        <A>255</A>
        <R>211</R>
        <G>211</G>
        <B>211</B>
      </FilenameBGColor>
      <FilenameSolidBackground>false</FilenameSolidBackground>
      <FilenameTruncate>false</FilenameTruncate>
      <ShowFooter>false</ShowFooter>
      <FooterFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>8</Size>
        <Style>Italic</Style>
      </FooterFont>
      <FooterColor>
        <A>255</A>
        <R>128</R>
        <G>128</G>
        <B>128</B>
      </FooterColor>
      <FooterTextLeft>&lt;NumFiles&gt; images (&lt;TotSize&gt;)</FooterTextLeft>
      <FooterTextRight>Generated by Snap2IMG  &lt;Date&gt; &lt;Time&gt;</FooterTextRight>
      <EffectShadow>false</EffectShadow>
      <EffectShadowStyle>2</EffectShadowStyle>
      <EffectGrayscale>false</EffectGrayscale>
    </RenderSettingsData>
    <RenderSettingsData>
      <Name>Black Box</Name>
      <ThumbnailSizeX>128</ThumbnailSizeX>
      <ThumbnailSizeY>128</ThumbnailSizeY>
      <SplitIntoMultipleSheets>false</SplitIntoMultipleSheets>
      <SplitAfterNumberOfRows>4</SplitAfterNumberOfRows>
      <Spacing>
        <X>12</X>
        <Y>14</Y>
      </Spacing>
      <MarginSize>
        <Left>16</Left>
        <Top>48</Top>
        <Right>16</Right>
        <Bottom>20</Bottom>
      </MarginSize>
      <ThumbnailsPerRow>5</ThumbnailsPerRow>
      <AlwaysFullWidth>false</AlwaysFullWidth>
      <AdaptiveHeight>true</AdaptiveHeight>
      <DrawFrame>true</DrawFrame>
      <FrameColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </FrameColor>
      <FrameThickness>1</FrameThickness>
      <FrameFullSize>false</FrameFullSize>
      <FrameDashStyle>Solid</FrameDashStyle>
      <ScaleMode>HighQualityBicubic</ScaleMode>
      <TextAntialiasingMode>2</TextAntialiasingMode>
      <IgnoreAspectRatio>false</IgnoreAspectRatio>
      <IgnoreAspectRatioCrop>true</IgnoreAspectRatioCrop>
      <BackgroundColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>255</B>
      </BackgroundColor>
      <BackgroundTexture />
      <BackgroundTextureMode>None</BackgroundTextureMode>
      <ShowHeader>true</ShowHeader>
      <HeaderFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>14</Size>
        <Style>Regular</Style>
      </HeaderFont>
      <HeaderColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </HeaderColor>
      <HeaderText>&lt;Path&gt;</HeaderText>
      <ShowFilenames>true</ShowFilenames>
      <FilenameFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>9</Size>
        <Style>Regular</Style>
      </FilenameFont>
      <FilenameColor>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>255</B>
      </FilenameColor>
      <FilenameText>&lt;Filename.Ext&gt;</FilenameText>
      <FilenameExtendUpwards>false</FilenameExtendUpwards>
      <FilenameIgnoreAspectRatio>false</FilenameIgnoreAspectRatio>
      <FilenameBGColor>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </FilenameBGColor>
      <FilenameSolidBackground>true</FilenameSolidBackground>
      <FilenameTruncate>true</FilenameTruncate>
      <ShowFooter>true</ShowFooter>
      <FooterFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>8</Size>
        <Style>Italic</Style>
      </FooterFont>
      <FooterColor>
        <A>255</A>
        <R>128</R>
        <G>128</G>
        <B>128</B>
      </FooterColor>
      <FooterTextLeft>&lt;NumFiles&gt; images (&lt;TotSize&gt;)</FooterTextLeft>
      <FooterTextRight>Generated by Snap2IMG  &lt;Date&gt; &lt;Time&gt;</FooterTextRight>
      <EffectShadow>false</EffectShadow>
      <EffectShadowStyle>2</EffectShadowStyle>
      <EffectGrayscale>false</EffectGrayscale>
    </RenderSettingsData>
    <RenderSettingsData>
      <Name>Grayish</Name>
      <ThumbnailSizeX>128</ThumbnailSizeX>
      <ThumbnailSizeY>128</ThumbnailSizeY>
      <SplitIntoMultipleSheets>false</SplitIntoMultipleSheets>
      <SplitAfterNumberOfRows>4</SplitAfterNumberOfRows>
      <Spacing>
        <X>12</X>
        <Y>28</Y>
      </Spacing>
      <MarginSize>
        <Left>16</Left>
        <Top>48</Top>
        <Right>16</Right>
        <Bottom>20</Bottom>
      </MarginSize>
      <ThumbnailsPerRow>5</ThumbnailsPerRow>
      <AlwaysFullWidth>false</AlwaysFullWidth>
      <AdaptiveHeight>true</AdaptiveHeight>
      <DrawFrame>true</DrawFrame>
      <FrameColor>
        <A>255</A>
        <R>192</R>
        <G>192</G>
        <B>192</B>
      </FrameColor>
      <FrameThickness>1</FrameThickness>
      <FrameFullSize>false</FrameFullSize>
      <FrameDashStyle>Solid</FrameDashStyle>
      <ScaleMode>HighQualityBicubic</ScaleMode>
      <TextAntialiasingMode>2</TextAntialiasingMode>
      <IgnoreAspectRatio>false</IgnoreAspectRatio>
      <IgnoreAspectRatioCrop>true</IgnoreAspectRatioCrop>
      <BackgroundColor>
        <A>255</A>
        <R>45</R>
        <G>45</G>
        <B>45</B>
      </BackgroundColor>
      <BackgroundTexture />
      <BackgroundTextureMode>None</BackgroundTextureMode>
      <ShowHeader>true</ShowHeader>
      <HeaderFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>14</Size>
        <Style>Regular</Style>
      </HeaderFont>
      <HeaderColor>
        <A>255</A>
        <R>192</R>
        <G>192</G>
        <B>192</B>
      </HeaderColor>
      <HeaderText>&lt;Path&gt;</HeaderText>
      <ShowFilenames>true</ShowFilenames>
      <FilenameFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>9</Size>
        <Style>Regular</Style>
      </FilenameFont>
      <FilenameColor>
        <A>255</A>
        <R>192</R>
        <G>192</G>
        <B>192</B>
      </FilenameColor>
      <FilenameText>&lt;Filename.Ext&gt;</FilenameText>
      <FilenameExtendUpwards>false</FilenameExtendUpwards>
      <FilenameIgnoreAspectRatio>true</FilenameIgnoreAspectRatio>
      <FilenameBGColor>
        <A>255</A>
        <R>211</R>
        <G>211</G>
        <B>211</B>
      </FilenameBGColor>
      <FilenameSolidBackground>false</FilenameSolidBackground>
      <FilenameTruncate>false</FilenameTruncate>
      <ShowFooter>true</ShowFooter>
      <FooterFont>
        <FontFamily>Tahoma</FontFamily>
        <GraphicsUnit>Point</GraphicsUnit>
        <Size>8</Size>
        <Style>Italic</Style>
      </FooterFont>
      <FooterColor>
        <A>255</A>
        <R>192</R>
        <G>192</G>
        <B>192</B>
      </FooterColor>
      <FooterTextLeft>&lt;NumFiles&gt; images (&lt;TotSize&gt;)</FooterTextLeft>
      <FooterTextRight>Generated by Snap2IMG  &lt;Date&gt; &lt;Time&gt;</FooterTextRight>
      <EffectShadow>true</EffectShadow>
      <EffectShadowStyle>1</EffectShadowStyle>
      <EffectGrayscale>false</EffectGrayscale>
    </RenderSettingsData>
  </Presets>
  <RootFolder>C:\Witchaz\Coding\qr_code_generator\data\</RootFolder>
  <LastSaveFilename>C:\Users\jengk\Downloads\data.png</LastSaveFilename>
  <LastSaveFileFormat>1</LastSaveFileFormat>
  <SubfolderMode>false</SubfolderMode>
  <SubfolderModeFileFormat>0</SubfolderModeFileFormat>
  <SubfolderModeLastSaveFolder />
  <MaxNumThreads>12</MaxNumThreads>
  <LimitReadToSingleThread>true</LimitReadToSingleThread>
  <MainFormLeft>1322</MainFormLeft>
  <MainFormTop>255</MainFormTop>
</SettingsData>